img{
       width:350pxi;
       height:300px; }
body{
  background:grey;
}
body{
  width:350pxi;
  height:300pxi;
  font-size:px
}
img{
  Margin:40px;
  border: 20px solid white; 
  padding: 25px;
background-color:grey;
}


